In [1]:
import pandas as pd
import numpy as np

In [31]:
mat = np.random.randint(1, 4, (10, 4))
a = pd.DataFrame(mat, columns=list("ABCD"))
a

   A  B  C  D
0  1  2  2  2
1  2  1  2  2
2  2  2  1  2
3  3  3  3  1
4  3  3  2  3
5  3  1  1  2
6  2  3  1  2
7  1  3  3  2
8  3  3  3  3
9  3  3  2  1

In [18]:
d1 = a[:5]
d2 = a[5:]
dd = pd.concat([d1, d2], axis=1, ignore_index=True, )
dd

     0    1    2    3    4    5    6    7
0  3.0  2.0  5.0  4.0  NaN  NaN  NaN  NaN
1  5.0  3.0  5.0  5.0  NaN  NaN  NaN  NaN
2  3.0  5.0  4.0  2.0  NaN  NaN  NaN  NaN
3  3.0  1.0  4.0  5.0  NaN  NaN  NaN  NaN
4  1.0  1.0  5.0  4.0  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  4.0  3.0  5.0  3.0
6  NaN  NaN  NaN  NaN  1.0  2.0  3.0  2.0
7  NaN  NaN  NaN  NaN  5.0  4.0  5.0  1.0
8  NaN  NaN  NaN  NaN  2.0  5.0  1.0  5.0
9  NaN  NaN  NaN  NaN  4.0  4.0  1.0  1.0

In [69]:
print(a)
a.reindex(map(lambda x: x+1, a.index)).dropna()

   A  B  C  D    E
0  1  2  2  2  bar
1  2  1  2  2  bar
2  2  2  1  2  bar
3  3  3  3  1  bar
4  3  3  2  3  bar
5  3  1  1  2  bar
6  2  3  1  2  bar
7  1  3  3  2  bar
8  3  3  3  3  bar
9  3  3  2  1  bar

     A    B    C    D    E
1  2.0  1.0  2.0  2.0  bar
2  2.0  2.0  1.0  2.0  bar
3  3.0  3.0  3.0  1.0  bar
4  3.0  3.0  2.0  3.0  bar
5  3.0  1.0  1.0  2.0  bar
6  2.0  3.0  1.0  2.0  bar
7  1.0  3.0  3.0  2.0  bar
8  3.0  3.0  3.0  3.0  bar
9  3.0  3.0  2.0  1.0  bar